<section class="section-top-50 section-bottom-90">
    <div class="shell text-md-left">
        <h2>Our Vision</h2>
        <div class="range offset-top-35">
            <div class="cell-md-6">
                <img src="images/about-01.jpg" width="570" height="270" alt="" class="img-responsive center-block">
            </div>
            <div class="cell-md-6">
                <p class="big text-base">
                    Every student is blessed with exceptional gifts but somehow struggle during their educational careers. We aim to provide help to the students who struggle during their academic careers to make the most out of their academic careers. Every student deserves to have a life of his dreams after the long journey of graduation. Our community of experts deeply understand the problems a student face in their academic journey. Sometimes the instructor fails to teach the students properly, sometimes it's the burden by taking more than 18 credit hours, student lack of interest in a subject or maybe because of high educational expense a student working along with his studies. 

			
<br>
                    <br> We believe every student is capable of scoring maximum marks with a little help from experts. We are working for a community of students and experts. On our platform, you can find multiple solutions to many of your questions. Visit our "services section" to see solutions.

                </p>
            </div>
        </div>
    </div>
</section>
<section class="bg-cornflower section-top-50 section-bottom-90">
    <div class="shell">
        <h2 class="text-md-left">3 steps away from a successful essay</h2>
        <div class="range">
            <div class="cell-sm-4">
                <span class="icon icon-lg icon-primary icon-circle material-design-screen47"></span>
                <p class="text-base text-height-base big">
                    Check out
                    <br class="veil reveal-sm-block"> Sample Work
                </p>
            </div>
            <div class="cell-sm-4">
                <span class="icon icon-lg icon-primary icon-circle material-design-underline6"></span>
                <p class="text-base text-height-base big">
                    Share your
                    <br class="veil reveal-sm-block"> requirements
                </p>
            </div>
            <div class="cell-sm-4">
                <span class="icon icon-lg icon-primary icon-circle material-design-schedule2"></span>
                <p class="text-base text-height-base big">
                    Get it done
                    <br class="veil reveal-sm-block"> on time

                </p>
            </div>
        </div>
    </div>
</section>
<section class="section-top-50 section-bottom-90">
    <div class="shell text-md-left">
        <h2>Mission</h2>
        <div class="range offset-top-35 range-xs-center">
            <div class="cell-md-4 cell-sm-6">
                <a href="#" class="thumbnail-custom">
                    <img src="images/about-02.jpg" width="370" height="190" alt="" class="img-responsive center-block">
                </a>
                <p class="font-accent">
   We all here at help Habibi have been through the student's journey and we deeply understand student's problem and the expectation of university from its students. Together we can produce much better results. Our mission is to be a part of your academic journey as well as your life.
</p>
            </div>
            <div class="cell-md-4 cell-sm-6 offset-top-52 offset-sm-top-0">
                <a href="#" class="thumbnail-custom">
                    <img src="images/about-03.jpg" width="370" height="190" alt="" class="img-responsive center-block">
                </a>
                <p class="font-accent">Use our solutions for your use. Share the word among your social circles. Let's make a community where students and experts around the world can help out each other. We hope the students around the world have a wonderful educational experience, not a depressing one.
</p>
            </div>
            <div class="cell-md-4 cell-sm-8 offset-top-52 offset-md-top-0">
                <a href="#" class="thumbnail-custom">
                    <img src="images/about-04.jpg" width="370" height="190" alt="" class="img-responsive center-block">
                </a>
                <p class="font-accent">We understand student pockets. Our core mission is to build a community of experts and students so we have asked our experts to be very light on students pocket. You can consult help for the next assignment, quiz, thesis, online courses or final exam. Outsource your academic burden sit back and relax.</p>
            </div>
        </div>
    </div>
</section>
<section class="section-top-50 section-bottom-90 bg-steelblue">
    <div class="shell text-md-left">
        <h2>Our working principles</h2>
        <div class="range range-xs-center offset-top-35">
            <div class="cell-sm-8 cell-md-4">
                <p class="big text-bold text-blizzard">01. Accessible</p>
                <p class="text-gray-lighter">We are easily approachable as well as our solutions. We will find you an expert within minutes for your requirements.     </p>
                <a href="#" class="btn btn-default btn-sm">Learn more</a>
            </div>
            <div class="cell-sm-8 cell-md-4 offset-top-52 offset-md-top-0">
                <p class="big text-bold text-blizzard">02. Responsible</p>
                <p class="text-gray-lighter">When you send us your order. Its our responsibility to make it perfect. Moreover, we have never let our students down. Your success is our success.</p>
                <a href="#" class="btn btn-default btn-sm">Learn more</a>
            </div>
            <div class="cell-sm-8 cell-md-4 offset-top-52 offset-md-top-0">
                <p class="big text-bold text-blizzard">03. Safe</p>
                <p class="text-gray-lighter">You don't need to worry while using our services - your money is safe with PayPal, which is one of the most
                    secure payment systems in the world...</p>
                <a href="#" class="btn btn-default btn-sm">Learn more</a>
            </div>
        </div>
    </div>
</section>
