<h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre>


{{!-- <section class="section-top-50 section-bottom-90 bg-steelblue">
    <div class="shell text-md-left">
        <div class="range">
            <div class="cell-md-6">
                <img src="images/404-page-01.png" width="570" height="428" alt="" class="img-responsive center-block">
            </div>
            <div class="cell-md-6 cell-md-middle">
                <h2>
                    Sorry
                    <br> Page not found!
                </h2>
                <p class="big">
                    The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.
                    <br>
                    <br> Please try using our search box below to look for information on the website.
                </p>
                <!-- RD Search-->
                <div class="range range-xs-center range-md-left offset-top-30">
                    <div class="cell-sm-8">
                        <form action="search-results.html" method="GET" class="rd-search">
                            <div class="form-group">
                                <label for="rd-search-form-input-2" class="form-label">Search...</label>
                                <input id="rd-search-form-input-2" type="text" name="s" autocomplete="off" class="form-control">
                                <button class="offset-top-30 btn btn-xs btn-default">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> --}}