<!-- RD Parallax-->
<section style="background: url('images/h1.jpg'); background-size: cover; background-position: 48% 100%; margin-top: 60px" class="scroll-link-wrapper">
    <div class="shell text-md-left section-90 section-md-125">
        <div class="range">
            <div class="cell-md-9" style="margin-top:0px;">
                {{!-- <h1 style="color:rgb(53, 53, 143);margin:0%;">Providing high quality help on your way to academic excellence!</h1> --}}
                {{!-- <p class="lead">Crafting your custom essay by a competent writer</p> --}}
                <div style="margin-top:280px;" class="group offset-md-top-52 button_section  ">
                    <a style="margin:0px; margin-left:20px;margin-right:20px;margin-bottom:-10px; padding-bottom:3px;"href="\client\order" class="btn btn-dodger ">Order now</a>
                    <a style="margin:0px; margin-left:20px;margin-right:20px;margin-bottom:-10px; padding-bottom:3px;" href="#content" class="btn btn-picton ">Read more</a>
                </div>
            </div>
        </div>
    </div>
    <a data-custom-scroll-to="content" href="#content" class="fa-angle-down scroll-link toTop"></a>
</section>
<section id="content" class="section-top-50 section-bottom-90">
    <div class="shell text-md-left">
        <div class="range">
            <div class="cell-md-6">
                <h2>Why Us?</h2>
                <p class="big text-base">
Every student is blessed with exceptional gifts but somehow struggle during their educational career. We aim to provide help to the students who struggle during their academic careers to make the most out of their academic careers. Every student deserves to have a life of his dreams after graduation. Our community of experts deeply understand the problems a student face in their academic journey. Sometimes the instructor fails to teach the students properly, sometimes it's the burden by taking more than 18 credit hours, student lack of interest in a subject or maybe because of high educational expense a student working along with his studies.<br><br>
 We believe every student is capable of scoring maximum marks with a little help from experts. We are working for a community of students and experts. On our platform, you can find multiple solutions to many of your questions. Visit our "services section" to see solutions.
 <br><br> If our solutions are not enough to follow these simple steps.
<br>
<b>Register on help Habibi.</b>
<br>
<b>Send us your project details by filling in the "New Order" form.</b>
<br>
<b>We will connect you with an expert from our panel.</b>

                </p>
                {{!--
                <ul class="big text-warning list-marked font-accent inset-md-right-30">
                    <li>We are professional, educated, experienced, and dedicated to your success!</li>
                    <li>What we definitely know is that every student who comes to us needs help and needs it urgently.</li>
                    <li>We fulfill our promises and guarantee that every custom essay, critical paper, or admission statement
                        is written by an experienced writer.</li>
                </ul> --}}
                <p class="big text-base">We are here to assist you, to guide you through the process and help you through your coursework.</p>
            </div>
            <div class="cell-xs-6 cell-md-3 offset-top-52 offset-md-top-0 image_section">
                <img  class="hideit" style="margin-top:100px;"src="images/c2.png" width="470" height="750px" alt="">
            </div>
            <div class="cell-xs-6 cell-md-3 offset-top-52 offset-md-top-0 image_section">
                <img class="hideit"style="margin-left:200px;margin-top:100px;"src="images/c1.jpg" width="270" height="370" alt="">
                <img class="hideit"style="margin-left:200px;margin-top:50px;" src="images/c3.jpg" width="270" height="370px;" alt="">
            </div>
        </div>
    </div>
</section>
<section class="section-top-50 section-bottom-90 bg-cornflower">
    <div class="shell text-md-left">
        <h2>Features</h2>
        <div class="range text-center">
            <div class="cell-sm-6 cell-md-4">
                <span class="icon icon-circle icon-lg icon-primary material-design-create2"></span>
                <h2>Deadline Meetings</h2>
                <p class="inset-md-left-30 inset-md-right-30 font-accent big text-base text-height-base">One of the most crucial aspect to score maximum marks is the submission of assignment before the deadline.
                    Help Habibi ensures on time delivery</p>
            </div>
            <div class="cell-sm-6 cell-md-4 offset-top-52 offset-sm-top-0">
                <span class="icon icon-circle icon-lg icon-primary material-design-earth205"></span>
                <h2>Unique Content</h2>
                <p class="inset-md-left-30 inset-md-right-30 font-accent big text-base text-height-base">Help Habibi promise unique content to its clients. Our ultimate goal is to secure our clients from any sort
                    of action which can result in deduction of marks.</p>
            </div>
            <div class="cell-sm-6 cell-md-4 offset-top-52 offset-md-top-0">
                <span class="icon icon-circle icon-lg icon-primary material-design-graduate32"></span>
                <h2>Revisions</h2>
                <p class="inset-md-left-30 inset-md-right-30 font-accent big text-base text-height-base">Help Habibi is the only company which provides this service in the world. As humans are capable of causing
                    errors to compensate this we offer revisions in the solution of assignment provided.</p>
            </div>
            <div class="cell-sm-6 cell-md-4 offset-top-52 offset-md-top-0">
                 <br>
                <br>
                <br>
                <br>
                <br>
                <span class="icon icon-circle icon-lg icon-primary material-design-phone375"></span>
                <h2>Confidentiality</h2>

                <p class="inset-md-left-30 inset-md-right-30 font-accent big text-base text-height-base">Help Habibi is completely secure in terms of confidentiality. Your identity is completely secured with us.</p>
            </div>
            <div class="cell-sm-6 cell-md-4 offset-top-52 offset-sm-top-0">
                <br>
                <br>
                <br>
                <br>
                <br>

                <span class="icon icon-circle icon-lg icon-primary material-design-earth205"></span>
                <h2>Easy on pocket</h2>
                <p class="inset-md-left-30 inset-md-right-30 font-accent big text-base text-height-base">Help Habibi understands the student’s pocket. We offer the most reasonable prices around the globe. Get your next one page essay written in less than 20$ USD.</p>
            </div>

            <div class="cell-sm-6 cell-md-4 offset-top-52 offset-sm-top-0">
                <br>
                <br>
                <br>
                <br>
                <br>
                <span class="icon icon-circle icon-lg icon-primary material-design-earth205"></span>

                <h2>Full Referencing</h2>
                <p class="inset-md-left-30 inset-md-right-30 font-accent big text-base text-height-base">Our professional writers with years of experience are capable of referencing and citation in any platform.</p>
            </div>
            
        </div>
    </div>
</section>
<section class="section-top-50 section-bottom-90">
    <div class="shell text-md-left">
        <h2>So Who are we?</h2>
        <div class="range offset-top-30">
            <div class="cell-md-6">
                <img style="margin-top:35px;" src="images/h3.jpg" width="570" height="370" alt="">
            </div>
            <div class="cell-md-6 offset-top-18">
                <p class="big text-base text-bold">Help Habibi is a company which ensures student’s progress in their academic and professional careers by providing assistance in assignments, quizzes, thesis, dissertations, exams and online courses. We have experienced assignment helpers on our panel who ensure that our students make the most out of their academic career.</p>
                <p> We hope that one day our students prosper in their professional careers and we stay with them in their academic and professional achievements forever. We believe every student is blessed with valuable potentials but due to several reasons he might fail to score maximum marks in his assignments, with a little bit help in his assignments or through handing over his assignments he can make the most out of his academic career. Help Habibi wants every potentialite student to make the most out of his academic career. Some students lack technical skills which leads to poor results, well if you are facing such problems our panel of assignment helpers are here to guide you through these problems. 
                </p>
             
            </div>
        </div>
        <div class="range offset-top-0">
            <div class="cell-md-6 cell-md-push-1">
                <img style="margin-top:35px;"src="images/c5.jpg" width="570" height="270" alt="" class="img-responsive center-block">
            </div>
            <div class="cell-md-6 offset-top-10" >
                <h2 "range offset-bottom-0">Our Vision</h2>
                <p class="big text-base text-bold">Our vision is to help out as many students as possible with their academic pressure and assignments. </p>
                <p>There are several reasons that students fail to meet deadlines, students might have faced some unusual thing due to which they were missing out on their assignments well our message to such students is do not worry about your short deadline assignments we are here to help you with short deadline assignments. We have our team of assignment helpers which include Mathematics assignment helper, Statistics assignment helper, Calculus assignment helper, Civil Engineering assignment helper, Electrical assignment helper, Mechanical assignment helper, Chemical assignment helper, Programming assignment helper, MATLAB assignment helper, English Essay assignment helper, Thesis helper, Finance </p>
                 
            </div>
        </div>
    </div>
</section>
<section class="section-top-50 section-bottom-100 bg-cornflower">
    <div class="shell text-md-left">
        <h2>Reviews</h2>
        <div class="range range-lg-center">
            <div class="cell-lg-10">
                <!-- Owl Carousel-->
                <div data-items="1" data-margin="30" data-nav="true" data-dots="true" class="text-left owl-carousel">
                    <blockquote class="quote">
                        <p>
                            <q>
                                “Tried so many sites and always ended up with different grades for my assignments. Sometimes I received fail for a work from
                                the site, which helped me to get an A before. Essay Writing guys really made a difference.
                                I have improved my results since I started to work with them. ”
                            </q>
                        </p>
                        <div class="media">
                            <div class="media-left">
                                <img src="images/index-06.jpg" width="40" height="40" alt="" class="center-block img-circle">
                            </div>
                            <div class="media-body media-middle">
                                <cite>— Laura Bailey</cite>
                            </div>
                        </div>
                    </blockquote>
                    <blockquote class="quote">
                        <p>
                            <q>
                                “There are so many websites out there and it's so confusing to choose one. I wish I found you earlier! I always receive really
                                impressive insights and research from you. You helped me get through my Economics course
                                without any problems.”
                            </q>
                        </p>
                        <div class="media">
                            <div class="media-left">
                                <img src="images/index-07.jpg" width="40" height="40" alt="" class="center-block img-circle">
                            </div>
                            <div class="media-body media-middle">
                                <cite>— Mark Johnson</cite>
                            </div>
                        </div>
                    </blockquote>
                    <blockquote class="quote">
                        <p>
                            <q>
                                “I thought I would never find a web-based company to help me out. Second year is the most difficult one, but they did actually
                                help me a lot to improve my knowledge! I think I've learned from their research more than
                                from any textbook.”
                            </q>
                        </p>
                        <div class="media">
                            <div class="media-left">
                                <img src="images/index-08.jpg" width="40" height="40" alt="" class="center-block img-circle">
                            </div>
                            <div class="media-body media-middle">
                                <cite>— Alan Smith</cite>
                            </div>
                        </div>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-50 bg-steelblue">
</section>
<section class="section-top-50 section-bottom-90">
    <div class="shell text-md-left">
        <h2>Writing Assignment/Essay help</h2>
        <p class="big text-blizzard">We have provided assistance to students in writing their academic essay and other writing tasks.</p>
        <div class="range offset-top-35">
            <div class="cell-md-4">
                <p class="text-gray-lighter">We expertise in writing Expository Essays, Persuasive Essays, Descriptive Essays, Narrative Essays, Definition Essay, Compare and Contrast Essay, Cause and effect Essay, Process Essay, Argumentative Essay and whatnot </p>
            </div>
            <div class="cell-md-4 offset-top-18 offset-md-top-0">
                <p class="text-gray-lighter">After years of experience in essay writing with the students studying in different part of the world from Saudia to Australia our experts have deep understanding of university's expectation from their students.</p>
            </div>
            <div class="cell-md-4 offset-top-18 offset-md-top-0">
                <p class="text-gray-lighter">We are professionals here and we here don't brag about our quality. Our quality will speak for us. Help habibi offers essay written in different citation and formats.</p>
            </div>
        </div>
    </div>
    <br><br>
    
    <div class="shell text-md-left">
        <h2>Confidentiality is our priority</h2>
        <div class="range offset-top-35 range-xs-center">
            <div class="cell-md-4 cell-sm-6">
                <a href="#" class="thumbnail-custom">
                    <img src="images/index-09.jpeg" width="370" height="190" alt="" class="img-responsive center-block">
                </a>
                <p class="font-accent">We have some essays in our sample work section. You can always use them for any purposes. It's not just it moreover, you can have an essay written according to your requirements. </p>
            </div>
            <div class="cell-md-4 cell-sm-6 offset-top-52 offset-sm-top-0">
                <a href="#" class="thumbnail-custom">
                    <img src="images/index-10.jpeg" width="370" height="190" alt="" class="img-responsive center-block">
                </a>
                <p class="font-accent">In our experience we have never let down any single student which asks assitance from us. We provide freelance tutoring as well help in your assignments. Don't worry its our little secret. </p>
            </div>
            <div class="cell-md-4 cell-sm-8 offset-top-52 offset-md-top-0">
                <a href="#" class="thumbnail-custom">
                    <img src="images/index-11.jpeg" width="370" height="190" alt="" class="img-responsive center-block">
                </a>
                <p class="font-accent">We are aiming for a world where students with a little assistance from experts can score maximum marks in their academic careers. To us our students are equally important as oxygen for living beings. Your identity is completely secure with us.</p>
            </div>
        </div>
    </div>
</section>