<section class="section-top-50 section-bottom-90">
    <div class="shell text-md-left">
        <div class="range offset-top-35">
            <div class="cell-md-6 cell-md-push-1">
                <img src="images/services-01.jpg" width="570" height="270" alt="" class="img-responsive center-block">
            </div>
            <div class="cell-md-6">
                <h2>Services overview</h2>
                <p class="big text-base">Our aim and services coincide with each other. Our services include access to our solutions. We have plenty of solutions available on our platform which students can access and use for academic purposes. The experts on our panel have years of experience. Our experts after passing a series of tests have qualified for our platform. Our core priority is best results for students. We expertise in providing freelance tutoring and Assignment help.
</p>
                <div class="offset-top-25 range text-warning font-accent">
                    <div class="cell-sm-6">
                        <ul class="list-marked list-marked-variant-1 big">
                            <li>Assignments</li>
                            <li>Quiz</li>
                        </ul>
                    </div>
                    <div class="cell-sm-6 offset-top-18 offset-sm-top-0">
                        <ul class="list-marked list-marked-variant-1 big">
                            <li>Semester Projects</li>
                            <li>Thesis</li>
                        </ul>
                    </div>
                </div>
                <p class="big text-base offset-top-25">
                    Whether it's an essay help, a lab report or a Programming assignment help that you are looking for, we are at service 24/7.

                </p>
            </div>
        </div>
    </div>
</section>
<section class="section-top-50 section-bottom-90 bg-cornflower">
    <div class="shell text-md-left">
        <h2>Additional services</h2>
        <div class="range offset-top-35">
            <div class="cell-md-6">
                <img src="images/services-02.jpg" width="570" height="270" alt="" class="img-responsive center-block">
            </div>
            <div class="cell-md-6 cell-md-middle">
                <p class="big text-base font-accent text-height-base">
                    You can see and use our sample work. Our experts are capable of handling various diversified fields.
                    <br>
                    <br> We also offer professional research and analysis in such tasks as:
                </p>
                <div class="offset-top-25 range text-warning font-accent">
                    <div class="cell-sm-6">
                        <ul class="list-marked list-marked-variant-1 big text-base">
                            <li>Market Research</li>
                            <li>Data Collection</li>
                            <li>IT Programming /Coding</li>
                            <li>Statistical Analysis</li>
                            <li>Mathematical Task Solving</li>
                            <li>Biology</li>
                            <li>Physics</li>
                            <li>Accounting</li>
                            <li>Economics</li>
                            <li>Engineering</li>


                        </ul>
                    </div>
                    <div class="cell-sm-6 offset-top-18 offset-sm-top-0">
                        <ul class="list-marked list-marked-variant-1 big text-base">
                            <li>Model Exam Answer</li>
                            <li>Coursework</li>
                            <li>Powerpoint Presentation</li>
                            <li>Assignment</li>
                            <li>Research Summary</li>
                            <li>Computer Science</li>
                            <li>Physics</li>
                            <li>Accounting</li>
                            <li>Economics</li>
                            <li>Engineering</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-top-50 section-bottom-90">
    <div class="shell text-md-left">
        <h2>Popular services</h2>
        <div class="range offset-top-52 big text-base text-height-base text-sm-left">
            <div class="cell-sm-6 cell-lg-4">
                <div class="unit unit-sm-horizontal unit-md-horizontal unit-lg-horizontal">
                    <div class="unit-left">
                        <span class="icon icon-sm icon-primary icon-circle material-design-add183"></span>
                    </div>
                    <div class="unit-body">
                        <p>Essay Writing</p>
                        <p class="font-accent"> Check our previous work. Moreover, you can have a customized essay written by professionals. </p>
                    </div>
                </div>
            </div>
            <div class="cell-sm-6 cell-lg-4 offset-top-52 offset-sm-top-0">
                <div class="unit unit-sm-horizontal unit-md-horizontal unit-lg-horizontal">
                    <div class="unit-left">
                        <span class="icon icon-sm icon-primary icon-circle material-design-clipboard99"></span>
                    </div>
                    <div class="unit-body">
                        <p>Coursework Writing</p>
                        <p class="font-accent">Get the coursework individually tailored to your requirements.</p>
                    </div>
                </div>
            </div>
            <div class="cell-sm-6 cell-lg-4 offset-top-52 offset-lg-top-0">
                <div class="unit unit-sm-horizontal unit-md-horizontal unit-lg-horizontal">
                    <div class="unit-left">
                        <span class="icon icon-sm icon-primary icon-circle material-design-microphone85"></span>
                    </div>
                    <div class="unit-body">
                        <p>Report Writing</p>
                        <p class="font-accent">Get a professionally written, fully structured report</p>
                    </div>
                </div>
            </div>
            <div class="cell-sm-6 cell-lg-4 offset-top-52">
                <div class="unit unit-sm-horizontal unit-md-horizontal unit-lg-horizontal">
                    <div class="unit-left">
                        <span class="icon icon-sm icon-primary icon-circle material-design-bookmark46"></span>
                    </div>
                    <div class="unit-body">
                        <p>Literature Review</p>
                        <p class="font-accent">Receive a detailed review of all the literature in your chosen area.</p>
                    </div>
                </div>
            </div>
            <div class="cell-sm-6 cell-lg-4 offset-top-52">
                <div class="unit unit-sm-horizontal unit-md-horizontal unit-lg-horizontal">
                    <div class="unit-left">
                        <span class="icon icon-sm icon-primary icon-circle material-design-briefcase50"></span>
                    </div>
                    <div class="unit-body">
                        <p>Lab Report</p>
                        <p class="font-accent">We have prepared several lab reports for our students. You can check it out in our sample work.</p>
                    </div>
                </div>
            </div>
            <div class="cell-sm-6 cell-lg-4 offset-top-52">
                <div class="unit unit-sm-horizontal unit-md-horizontal unit-lg-horizontal">
                    <div class="unit-left">
                        <span class="icon icon-sm icon-primary icon-circle material-design-favorite22"></span>
                    </div>
                    <div class="unit-body">
                        <p>Topic with Title</p>
                        <p class="font-accent">Need an eye catching dissertation topic? We can help inspire you.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-top-50 section-bottom-90 bg-steelblue text-gray-lighter">
    <div class="shell text-md-left">
        <h2>Detailed Essay Services</h2>
        <div class="range offset-top-30 range-xs-center big font-accent text-left">
            <div class="cell-md-4 cell-sm-6">
                <ul class="list-marked list-marked-variant-2">
                    <li>Book report</li>
                    <li>Critical essay</li>
                    <li>Persuasive essay</li>
                    <li>Analytical essay</li>
                    <li>College essay</li>
                    <li>University essay</li>
                </ul>
            </div>
            <div class="cell-md-4 cell-sm-6 offset-top-30 offset-sm-top-0">
                <ul class="list-marked list-marked-variant-2">
                    <li>Admission essay</li>
                    <li>English essay</li>
                    <li>Argumentative essay</li>
                    <li>Descriptive essay</li>
                    <li>Narrative essay</li>
                    <li>Cause/Effect essay</li>
                </ul>
            </div>
            <div class="cell-md-4 offset-top-30 offset-md-top-0">
                <ul class="list-marked list-marked-variant-2">
                    <li>Definition essay</li>
                    <li>5 paragraph essay</li>
                    <li>Expository essay</li>
                    <li>Illustration essay</li>
                    <li>Personal essay</li>
                    <li>Classification essay</li>
                </ul>
            </div>
        </div>
    </div>
</section>